@font-face {
  font-family: 'DS-Digital';
  src: url('./fonts/DS-Digital.ttf');
}

body {
  background-color: #2c2c2c;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  display: flex;
  width: 300px;
  padding: 0 0 5px 10px;
}

.calculator {
  background-color: #ebebeb;
  font-family: DS-Digital;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 430px;
  width: 300px;
  padding-left: 10px;
  border: 4px solid #000;
  border-radius: 6px;
}

#outputContainer {
  background-color: #75978dd7;
  font-size: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 280px;
  margin: 0 10px 10px 0;
  border: 3px solid #000;
  border-radius: 6px;
}

#miniOutput {
  font-size: 35px;
  display: flex;
  justify-content: end;
}

#output {
  display: flex;
  justify-content: end;
}

#keys {
  display: flex;
  gap: 4px;
  width: 300px;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  height: 50px;
  width: 60px;
  margin: 2px;
  border: 3px solid #000000;
  border-radius: 2px;
}

#💥 {
  font-size: 24px;
  background-color: #ff0000bc;
}

#💥:hover {
  background-color: #ff000086;
}

#calculate {
  background-color: #0099ffbc;
}

#calculate:hover {
  background-color: #0099ff86;
}

.black {
  background-color: #161616e0;
  color: #fff;
}

.black:hover {
  background-color: #161616b7;
}

.grey {
  background-color: #555555e0;
  color: #fff;
}

.grey:hover {
  background-color: #555555b7;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

footer {
  color: #ffffff;
  background-color: #1e5d7c;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8px;
  padding: 14px 0 28px;
  text-align: center;
}
