@font-face {
  font-family: 'DS-Digital';
  src: url('./fonts/DS-Digital.ttf');
}

body {
  background-color: #2c2c2c;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background-color: #000;
  font-family: DS-Digital;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  padding-left: 8px;
  border-radius: 6px;
}

#output {
  background-color: #23896ab8;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  width: 290px;
  margin: 0 10px 10px 0;
  border-radius: 5px;
}

#keys {
  display: flex;
  gap: 3px;
  width: 300px;
}

button {
  font-family: DS-Digital;
  font-size: 30px;
  height: 50px;
  width: 60px;
  padding: 10px;
  margin: 2px;
  border: none;
  border-radius: 2px;
}

#💥 {
  font-size: 24px;
  background-color: #ff0000bc;
}

#💥:hover {
  background-color: #ff0000e9;
}

#calculate {
  background-color: #0099ffbc;
}

#calculate:hover {
  background-color: #0099ffe9;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

footer {
  color: #ffffff;
  background-color: #1e5d7c;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8px;
  padding: 14px 0 28px;
  text-align: center;
}
