body {
  background-color: #2c2c2c;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  padding-left: 8px;
  border-radius: 6px;
}

#output {
  background-color: #23896ab8;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  width: 290px;
  margin: 0 10px 10px 0;
  border-radius: 5px;
}

#keys {
  display: flex;
  gap: 3px;
  width: 300px;
}

button {
  font-size: 24px;
  height: 50px;
  width: 60px;
  padding: 10px;
  margin: 2px;
  border: none;
  border-radius: 2px;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
